@page "/"
<h1>TeamReds Fastigheter</h1>
<body>
    <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.gyazo.com/aa12d509b2c67f2dbc2bbe8f46b9417d.png" alt="Bild kan ej laddas in">
                <div class="card-body">
                    <h5 class="card-title">Fastigheter</h5>
                    <p class="card-text">Vi strävar vardagligen efter att alla våra fastigheter ska uppnå så hög kvalitet som möjligt. Vi erbjuder lokaler, lägenheter, hus med mera för antigen till salu eller till uthyrning.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.insidehighered.com/sites/default/server_files/styles/large/public/media/barber%20handshake.jpg?itok=KNWntI29" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Säkerhet & Tryggnad</h5>
                    <p class="card-text">Vi förstår att trygghet och säkerhet är viktigt för våra kunder så vi har många säkerhetsåtgärder i våra kontrakt som gör att du ska kunna känna dig trygg i ditt köp utav fastighet.</p>
                    <a href="Browse" class="btn btn-primary">Läs våra villkor</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://st.hzcdn.com/simgs/8cd1a1260b3399f5_14-2501/home-design.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tillgång till extra</h5>
                    <p class="card-text">Det finns även möjlighet till garage, lokalhyrande, tvättstuga, med mera.</p>
                    <a href="Browse" class="btn btn-primary">Läs våra villkor</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://viunga.se/wp-content/uploads/2019/03/238-1024x724.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tjänster utöver</h5>
                    <p class="card-text">Vi har hyresvärder, kundservice och annat för att hjälpa dig med situationer som kan uppstå med din fastighet.</p>
                    <a href="Browse" class="btn btn-primary">Läs våra villkor</a>
                </div>
            </div>
        </div>
    </body>